@using CameraServer.Models.Devices
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br/>
<a href="/DeviceAction/Create">Добавить новый 'DeviceAction'</a>
<H1>DeviceActionRepo.GetAll result: </H1>
@{
    foreach (var item in ViewBag.Items)
    {
        var deviceAction = item as DeviceAction;
        <hr />
        <h2>Device Action Item: id - @deviceAction.Id</h2><br />
        <h4>Дата и время: @deviceAction.ActionTime</h4>
        <h4>День недели: @deviceAction.ActionDayOfWeek</h4>
        <h4>Нужна фото от 1 камеры?: @deviceAction.IsCamera1PhotoNeed</h4>
        <h4>Нужна фото от 2 камеры?: @deviceAction.IsCamera2PhotoNeed</h4>
        <h4>Нужна фото от 3 камеры?: @deviceAction.IsCamera3PhotoNeed</h4>
        <h4>Нужна фото от 4 камеры?: @deviceAction.IsCamera4PhotoNeed</h4>
        <h4>Нужны данные от датчиков?: @deviceAction.IsSensorDataNeed</h4>
    }
}
