@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>
    <span class="label label-primary">@(ViewBag.Label)</span>
    &nbsp
    <a href="/DeviceSensorSettings/Create" role="button" class="btn btn-success btn-large">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th></th>
                <th></th>
                <th>ID</th>
                <th>Компас: ограничение</th>
                <th>Компас: режим</th>
                <th>Гироскоп: ограничение</th>
                <th>Гироскоп: режим</th>
                <th>Акселерометр: ограничение</th>
                <th>Акселерометр: режим</th>
                <th>GPS/GLONASS: ограничение</th>
                <th>GPS/GLONASS: режим</th>
                <th>Термометр: ограничение</th>
                <th>Термометр: режим</th>
                <th>Барометр: ограничение</th>
                <th>Барометр: режим</th>
                <th>Датчик влажности: ограничение</th>
                <th>Датчик влажности: режим</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var settings in ViewBag.Items)
            {
                using (Html.BeginForm())
                {
                    <tr>
                        <td>
                            <a href="/DeviceSensorSettings/Create?id=@settings.Id"
                               role="button" class="btn btn-primary btn-large">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td>
                            <a href="/DeviceSensorSettings/Delete?id=@settings.Id"
                               role="button" class="btn btn-danger btn-large">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td>@settings.Id</td>
                        <td>@settings.CompasLimitValue</td>
                        <td>@settings.CompasWorkMode</td>
                        <td>@settings.GyroscopeLimitValue</td>
                        <td>@settings.GyroscopeWorkMode</td>
                        <td>@settings.AccelerometerLimitValue</td>
                        <td>@settings.AccelerometerWorkMode</td>
                        <td>@settings.GPSGLONASSLimitValue</td>
                        <td>@settings.GPSGLONASSWorkMode</td>
                        <td>@settings.ThermometerLimitValue</td>
                        <td>@settings.ThermometerWorkMode</td>
                        <td>@settings.BarometerLimitValue</td>
                        <td>@settings.BarometerWorkMode</td>
                        <td>@settings.WetSensorLimitValue</td>
                        <td>@settings.WetSensorWorkMode</td>
                        @*<td><span class="label label-info">@settings.ActionTime.ToString("HH:mm")</span></td>
                        <td>@settings.ActionDayOfWeek</td>
                        <td><input type="checkbox" disabled readonly @(settings.IsCamera1PhotoNeed == true ? "checked" : "") /></td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>